<a href="carDetail.html" class="index-car-card-link">
    <div href="carDetail.html" class="index-car-card">
        <div class="index-car-card-photo-wrapper">
            <img src="images/cars/car3_0.jpg" alt="Kia Rio 2021" width="300" height="200" class="index-car-card-image">
        </div>

        <div class="index-car-card-features">
            <span class="index-car-card-feature">+ Кондиционер</span>
            <span class="index-car-card-feature">+ Мультимедиа</span>
            <span class="index-car-card-feature">+ Датчики света</span>
        </div>
        
        <div class="index-car-card-header">
            <h3 class="index-car-card-price">1 000 000 ₽</h3>
            <button class="index-car-card-favorite-btn">🤍</button>
        </div>

        <h4 class="index-car-card-title">Kia Rio, 2021</h4>

        <div class="index-car-card-details">
            <span class="index-car-card-mileage">176 000 км</span>
            <span class="index-car-card-engine">1.4 л • 100 л.с • Бензин</span>
        </div>

        <div class="index-car-card-specs">
            <span class="index-car-card-transmission">Автоматическая</span>
            <span class="index-car-card-body-type">Хэтчбек</span>
            <span class="index-car-card-color">Серый</span>
        </div>
    </div>
</a>