<header class="header">
    <nav class="header-nav">
        <div class="header-logo">
            <img src="images/logo.ico" alt="AutoLambada" width="40" height="40" class="header-logo-image">
            <p class="header-title">AutoLambada</p>
        </div>
        <div class="header-nav-links">
            <a href="authIndex.html" class="header-nav-link active">Главное Меню</a>
            <a href="news.html" class="header-nav-link">Новости</a>
            <a href="profile.html" class="header-nav-link">Профиль</a>
            <a href="index.html" class="header-nav-link">Выйти</a>
        </div>
    </nav>
</header>